@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .main-footer {
    position: relative;
    display: block;
    span {
      display: block;
      margin: 5px 0;
    }
    a {
      margin: 5px 0;
    }
  }
}
