.timeline-wrapper {
  text-align: center;
}

.timeline {
  opacity: 0;
  min-height: 0px;
  margin: 40px auto 0;
  width: 1px;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid #fff;
    left: -4px;
    top: -6px;

  }
  &:after {
    content: " ";
    display: block;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 7px;
    height: 1px;
    left: -3px;
    bottom: -1px;
  }
  .pointer {
    width: 14px;
    height: 14px;
    left: -8px;
    bottom: 15px;
    opacity: 0;
    border-radius: 100%;
    border: 1px solid #fff;
    position: absolute;
  }
  .position {
    position: absolute;
    opacity: 0;
    width: 400px;
    cursor: pointer;
    &:after {
      transition: all .4s;
      content: " ";
      width: 6px;
      height: 6px;
      border-radius: 100%;
      position: absolute;
      bottom: calc(50% - 4px);
      left: -54px;
      display: block;
      background: #fff;
    }
    &:before {
      content: " ";
      width: 59px;
      height: 1px;
      position: absolute;
      bottom: calc(50% - 1px);
      left: -50px;
      display: block;
      background: rgba(255, 255, 255, 0.6);
    }
    .position__date:after {
      content: " ";
      display: block;
      width: 200px;
      height: 50px;
      position: absolute;
      top: 0;
    }
    &--left {
      left: -500px;
      text-align: right;
      &:after {
        left: 447px;
      }
      &:before {
        left: 390px
      }
      .position__date:after {
        right: -100px;
      }
    }
    &--right {
      right: -500px;
      text-align: left;
      .position__date:after {
        left: -100px;
      }
    }
    &--active {
      //&:after {
      //  transition: all .4s;
      //  width: 12px;
      //  height: 12px;
      //  bottom: calc(50% - 6px);
      //}
      //&.position {
      //  &--left {
      //    &:after {
      //      left: 444px;
      //    }
      //  }
      //  &--right {
      //    &:after {
      //      left: -57px;
      //    }
      //  }
      //}
      .position {
        &__date {
          opacity: 1;
        }
        &__text {
          opacity: 1;
        }
      }
    }
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        bottom: #{($i - 2)*120}px;
      }
    }
    &__date {
      display: block;
      font-weight: bold;
      font-size: 20px;
      padding: 0 10px;
      opacity: .5;
      transition: all .4s;

    }
    &__text {
      padding: 0 10px;
      opacity: .5;
      transition: all .4s;
    }

  }
}

.about-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about {
  .slider-nav {
    .slick-dots {
      li {
        cursor: pointer;
      }
      button {
        visibility: hidden;
        position: relative;
        &:after {
          visibility: visible;
          cursor: pointer;
          content: ' ';
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          background: #fff;
          top: 2px;
          left: 5px;
          border-radius: 100%;
        }
      }
    }
  }
  p {
    text-align: justify;
    line-height: 28px;
    transition: .4s all;
  }
  h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .4s all;
  }
  &__image {
    border-radius: 100%;
    max-width: 150px;
    margin-right: 20px;
  }
  &__exp {
    max-width: 600px;
    min-height: 310px;
    margin: 0 auto;
    overflow: hidden;
  }
  &__description {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
}
.about-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .about-wrapper {
    height: auto;
  }
  .timeline-wrapper {
    display: none;
  }
  .about__exp {
    display: none;
  }
  .position {
    margin: 15px 0;
    &__date {
      display: block;
    }
    &__text {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 10px 0;

    }
  }
  .about-mobile {
    display: block;
  }
  .skills .slider-nav .slick-slide img {
    max-width: 30px;
  }
  .skills .slider-nav .slick-slide.slick-current img {
    transform: scale(1.4);

  }
  .contact {
    
  }
}