@import 'gridlex';
@import 'slick';
@import 'vue2-scrollbar';
$purple: #7B1FA2;

body {
  margin: 15px;
  background-image: url(assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 30px);
  overflow: hidden;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}
.fade-up-enter-active {
  transition: all .8s ease;
}
.fade-up-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-up-enter, .fade-up-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
a {
  text-decoration: none;
}

.button {
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 7px 15px;
  text-transform: uppercase;
  font-size: 14px;
  background: rgba(255,255,255, 0);
  font-weight: 200;
  display: inline-block;
  transition: all .3s;
  &:hover {
    background: rgba(255,255,255, 1);
    border-color: #fff;
    color: #000;
  }
  &--contact {
    margin-top: 40px;
  }
}

footer {
  &.footer-unfixed {
    position: relative;
  }
  position: fixed;
  width: calc(100% - 30px);
  padding: 15px;
  bottom: 0;
  left:0;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  span{
    display: inline-block;
  }
  a {
    color: #fff;
    text-decoration: none;
  }

}
.swiper-container-vertical {
  .slider-pagination-bullet{
    background: #fff;
    border-radius: 3px;
    width: 11px;
    height: 11px;
    position: relative;
    margin: 30px 0;
    opacity: .5;
    transition: all .4s;
    &.slider-pagination-bullet-active {
      opacity: 1;
    }
    &:after {
      content: "Test3";
      width: 200px;
      text-align: right;
      display: block;
      position: absolute;
      left: -210px;
      top: -5px;

    }
    &:nth-child(1){
      &:after {
        content: "Back-end";
      }
    }
    &:nth-child(2){
      &:after {
        content: "Front-end";
      }
    }
    &:nth-child(3){
      &:after {
        content: "Dev-ops";
      }
    }
  }
}


@import 'responsive';