.logo-link {
  z-index: 100;
}

#mobile-menu-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;

  .logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
  }
  &__mobile-button {
    width: 35px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
    position: relative;
    display: none;
    cursor: pointer;
    span {
      width: 35px;
      height: 2px;
      display: block;
      margin: 6px 0;
      background: #fff;
    }
  }
}

.navigation {
  position: relative;
  z-index: 10;
  &__social {
    li {
      svg {
        width: 13px;
        height: 13px;
        padding: 0;
        path {
          fill: #fff;
          transition: all .4s;
        }
      }
    }
  }
  &__social {
    li {
      a {
        &:after {
          display: none;
        }
        &:hover {
          svg {
            path {
              fill: #ffffff;
              opacity: .6;
            }
          }
        }
      }
    }
  }
}

ul {
  padding: 0;
  display: inline-block;
  list-style: none;
  li {
    display: inline-block;
    a {
      padding: 10px;
      font-size: 14px;
      text-decoration: none;
      color: #fff;
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      &:after {
        content: " ";
        height: 1px;
        width: 0;
        display: block;
        bottom: -1px;
        left: 0;
        transition: .4s all;
        background: #fff;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
      &.router-link-exact-active {
        &:after {
          width: 100%;
        }
      }
    }
  }
}

.navigation-mobile {
  visibility: hidden;
  z-index: 10;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    li {
      display: block;
      a {
        font-size: 18px;
      }
    }
    .navigation__social {
      li {
        display: inline-block;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .navigation-mobile {
    //display: block;
  }
  .menu__mobile-button {
    display: block;
  }
  #mobile-menu-bg {
    &.active {
      display: block;
    }
  }
  body {
    overflow: auto;
    min-height: auto;
  }
}